# [利用PYTHON计算偏相关系数](https://blog.csdn.net/qq_32678749/article/details/108125508?ops_request_misc=%257B%2522request%255Fid%2522%253A%2522167980706216800226588856%2522%252C%2522scm%2522%253A%252220140713.130102334..%2522%257D&request_id=167980706216800226588856&biz_id=0&utm_medium=distribute.pc_search_result.none-task-blog-2~all~sobaiduend~default-2-108125508-null-null.142^v76^pc_new_rank,201^v4^add_ask,239^v2^insert_chatgpt&utm_term=python%20%E5%81%8F%E7%9B%B8%E5%85%B3%E7%B3%BB%E6%95%B0&spm=1018.2226.3001.4187)

In [38]:
import numpy as np
import pandas as pd

import pingouin as pg

In [39]:
df = pd.DataFrame(np.random.randint(1, 100, 18).reshape((6, 3)))
states = ["LAI", "SPEI", "SM"]
df.columns = states

df

   LAI  SPEI  SM
0   26    86  17
1   88    58  87
2   71     4   6
3   65    64  13
4   71    11  34
5   33    79  83

## pingouin包计算偏相关

In [41]:
pcorr1 = pg.partial_corr(data=df, x='LAI', y='SPEI', covar='SM')
pcorr2 = pg.partial_corr(data=df, x='LAI', y='SM', covar='SPEI')

pcorr1
pcorr2

         n        r          CI95%     p-val
pearson  6 -0.70652  [-0.98, 0.47]  0.182219

         n         r          CI95%     p-val
pearson  6  0.420043  [-0.73, 0.95]  0.481356

## pandas包计算偏相关

In [42]:
df.pcorr()

           LAI      SPEI        SM
LAI   1.000000 -0.706520  0.420043
SPEI -0.706520  1.000000  0.523789
SM    0.420043  0.523789  1.000000

### df.rolling()+df.pcorr()计算滑动偏相关

In [47]:
win = 3
pcorr1 = np.zeros(6)
pcorr2 = np.zeros(6)
for  i, a  in enumerate(df.rolling(3)):
    b = a.copy()
    if i+1>=win:
        print(b)
        corr  = b.pcorr()
        corr
        pcorr1[i] = corr.iloc[0, 1]  
        pcorr2[i] = corr.iloc[0, 2]  
    else:
        pcorr1[i] = np.nan 
        pcorr2[i] = np.nan

pcorr1
pcorr2

   LAI  SPEI  SM
0   26    86  17
1   88    58  87
2   71     4   6

           LAI      SPEI        SM
LAI   1.000000  0.631826 -0.574972
SPEI  0.631826  1.000000 -0.270892
SM   -0.574972 -0.270892  1.000000

   LAI  SPEI  SM
1   88    58  87
2   71     4   6
3   65    64  13

           LAI      SPEI        SM
LAI   1.000000  0.768323 -0.905611
SPEI  0.768323  1.000000  0.424346
SM   -0.905611  0.424346  1.000000

   LAI  SPEI  SM
2   71     4   6
3   65    64  13
4   71    11  34

           LAI      SPEI        SM
LAI   1.000000  0.848998 -0.366776
SPEI  0.848998  1.000000 -0.180179
SM   -0.366776 -0.180179  1.000000

   LAI  SPEI  SM
3   65    64  13
4   71    11  34
5   33    79  83

           LAI      SPEI        SM
LAI   1.000000  0.196723  0.693123
SPEI  0.196723  1.000000  0.570381
SM    0.693123  0.570381  1.000000

array([       nan,        nan, 0.63182604, 0.76832274, 0.84899847,
       0.19672275])

array([        nan,         nan, -0.57497162, -0.9056115 , -0.36677613,
        0.69312301])